.logo {
  max-width: 200px;
  max-height: 50px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav {
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover {
  color: crimson;
}

nav li.active a {
  color: #6c63ff;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 96px;
}

.hero .intro {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 80px;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 0;
}

button,
.btn {
  padding: 18px 30px;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  background: #6c63ff;
  color: white;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 64px;
}

h4 {
  font-size: 48px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.container p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.description {
  padding: 120px 60px;
}

.btn-branding-outline {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 4px;
  font-weight: 500;
}

.about-container {
  margin: 0 auto;
  padding: 160px 20px;
}

.about-container-info {
  margin: 30px 120px;
}
.about-container h1 {
  font-size: 64px;
}

.about-container h2 {
  font-size: 18px;
  font-weight: 900;
}

.about-container p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

.about-container .btn {
  background: #6c63ff;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
}

.container-content {
  margin: auto 99px;
  padding: 160px 20px;
}

.actual-content {
  margin: 30px;
}

.actual-content h1 {
  font-size: 64px;
  font-family: "Playfair Display", sans-serif;
}
.actual-content h3 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  margin: 20px 0 0;
}

.actual-content p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
  font-size: 18px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: #6c63ff;
}

footer .social-links a:hover {
  color: white;
  background-color: #6c63ff;
}

footer .social-links a {
  margin: 0 20px;
  color: #6c63ff;
  background-color: #f9f7fe;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 18px;
  }

  .hero {
    padding: 80px 20px;
  }

  .col-6 {
    width: 100%;
  }

  .description {
    padding: 0;
    text-align: center;
  }

  .about-container {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .container-content {
    text-align: center;
  }
}
